#jumbotron {
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

#jumbotron > h2 {
  color: white;
  text-align: center;
}

#jumbotron > a {
  text-decoration: none;
  background-color: white;
  font-size: 1.5em;
  padding: 1.5rem;
  border-radius: 10px;
}

form {
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem;
}

form > * {
  margin: 0.5rem;
}

form > input[type="submit"] {
  width: 40%;
  margin: 0.5rem;
  margin-right: auto;
}

footer {
  border-top: solid 1px black;
  padding: 2rem 2rem 4rem;
  margin: 1rem 1rem;
}

#bio {
  margin: 1rem;
}

.routeMap {
  max-width: 1000px;
}

#map {
  height: 700px;
}

@media (max-width: 549px) {
  .hidden--mobile {
    display: none !important;
  }

  nav {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  nav > i {
    padding: 1rem;
    font-size: 2em;
  }

  nav > ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 0;
  }

  nav > ul > li {
    padding: 0.5rem;
    list-style-type: none;
  }
}

@media (min-width: 550px) {
  nav > ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0;
  }

  nav > ul > li {
    display: inline-block;
    text-decoration: none;
    padding: 0.5rem 0.5rem;
  }

  nav > .fa-bars {
    display: none;
  }
}
img.moto {
  background-color: black;
  border-color: black;
}

body {
  background-color: whitesmoke;
}

header {
  border: solid 1px;
  background-color: black;
}

img.center {
  width: 70%;
  background-color: black;
  border-color: black;
  max-block-size: 700px;
}

.logo {
}

body {
  color: black;
}

h1,
h2,
h3 {
  color: black;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

a:link {
  color: black;
  font-size: large;
}

a:hover {
  border-bottom: 1px solid;
  background: beige;
}
.timer {
  max-width: 100%;
  max-block-size: 850px;
}
